@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.botonBlanco {
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.432);
  color: black;
  text-decoration: none; }

.mainWrapper {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 3rem; }
  .mainWrapper .mainNombre {
    font-size: 48px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); }
    .mainWrapper .mainNombre .mainApellido {
      text-align: end; }
  .mainWrapper .mainEstado {
    font-size: 20px; }
  .mainWrapper .botonBlanco {
    margin-top: 1rem; }

.gradiente {
  background: linear-gradient(0deg, rgba(145, 108, 252, 0.72) 0%, #6ce2fc 100%); }

.gradienteNav {
  background: linear-gradient(0deg, #49e7c1 0%, #64d7fc 100%); }

html {
  font-family: 'Oswald', sans-serif; }

@keyframes mainTransition {
  0% { }
  25% { }
  50% {
    transform: translate(20%, 0); }
  100% {
    transform: translate(-150%, 0); } }

@keyframes mainTransition2 {
  0% { }
  25% { }
  50% {
    transform: translate(50%, 0); }
  99% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(100%, 0); } }

@keyframes viene {
  0% {
    transform: translate(150%, 0); }
  25% { }
  50% { }
  99% { }
  100% {
    transform: translate(0, 0); } }

.viene {
  animation: viene 1s forwards; }

.seVa2 {
  animation: mainTransition2 1s forwards; }

.seVa {
  animation: mainTransition 1s forwards; }

.navWrapper {
  height: 50px;
  display: flex;
  padding: 0.5rem; }
  .navWrapper .botonBurger {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .navWrapper .botonBurger img {
      width: 34px;
      height: 34px; }
  .navWrapper .tabNav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.534);
    transform: translateY(-105%);
    transition: .2s; }
    .navWrapper .tabNav .iconoCloseNav {
      margin: 0.4rem 0.2rem 0 0;
      width: 40px;
      align-self: flex-end; }
    .navWrapper .tabNav .nombreNav p {
      font-size: 20px;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      padding: 0 0 1rem 0;
      border-bottom: solid 1px black;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.315); }
    .navWrapper .tabNav .linksNav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 2rem; }
      .navWrapper .tabNav .linksNav a {
        color: black;
        text-decoration: none; }
  .navWrapper .navOpen {
    transform: translateY(0); }
