@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.gradiente {
  background: linear-gradient(0deg, rgba(145, 108, 252, 0.72) 0%, #6ce2fc 100%); }

.gradienteNav {
  background: linear-gradient(0deg, #49e7c1 0%, #64d7fc 100%); }

html {
  font-family: 'Oswald', sans-serif; }

.navWrapper {
  height: 50px;
  display: flex;
  padding: 0.5rem; }
  .navWrapper .botonBurger {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .navWrapper .botonBurger img {
      width: 34px;
      height: 34px; }
  .navWrapper .tabNav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    transform: translateY(-100%);
    transition: .2s; }
    .navWrapper .tabNav .iconoCloseNav {
      margin: 0.4rem 0.2rem 0 0;
      width: 40px;
      align-self: flex-end; }
    .navWrapper .tabNav .nombreNav p {
      font-size: 20px;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      padding: 0 0 1rem 0;
      border-bottom: solid 1px black;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.315); }
    .navWrapper .tabNav .linksNav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 2rem; }
  .navWrapper .navOpen {
    transform: translateY(0); }
