@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

/* $bgcolor: #f0f0f5; */
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 200;
  box-shadow: 0px 3px 2px rgba(173, 173, 173, 0.8); }

.header-nav {
  display: flex; }

.header-nombre h1 {
  width: 300px; }

.header-nombre {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-self: center;
  font-size: 1.5rem;
  color: black;
  text-shadow: 2px 2px 2px gray; }

.header-nombre a {
  color: black;
  text-decoration: none; }

.header-nombre h1:hover .header-font-hover {
  color: #11c7df;
  text-shadow: 0 0 5px black; }

.header-info {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin: 1rem; }

.header-info a {
  margin: 0 20px;
  padding: 0.281rem; }

.header-info a {
  text-decoration: none;
  color: black;
  padding: 0.5rem; }

.header-info a:hover {
  background-color: #11c7df;
  color: white;
  border-radius: 1rem; }

header:hover {
  background: linear-gradient(88deg, #28ddae, #a1dd28, #28acdd, #7c28dd, #dd288e);
  background-size: 1000% 1000%;
  -webkit-animation: headerGradentAnimacion 12s ease infinite;
  -moz-animation: headerGradentAnimacion 12s ease infinite;
  animation: headerGradentAnimacion 12s ease infinite; }

@-webkit-keyframes headerGradentAnimacion {
  0% {
    background-position: 29% 0%; }
  50% {
    background-position: 72% 100%; }
  100% {
    background-position: 29% 0%; } }

@-moz-keyframes headerGradentAnimacion {
  0% {
    background-position: 29% 0%; }
  50% {
    background-position: 72% 100%; }
  100% {
    background-position: 29% 0%; } }

@keyframes headerGradentAnimacion {
  0% {
    background-position: 29% 0%; }
  50% {
    background-position: 72% 100%; }
  100% {
    background-position: 29% 0%; } }

/* HTML */
html {
  scroll-behavior: smooth; }

body {
  background-color: #fafafa; }

/* Grid */
.grid {
  height: calc(100vh - 67px);
  width: 100%;
  display: grid;
  grid-template-areas: "habilidades habilidades habilidades" "proyectos flechabajo github" "contacto contacto contacto";
  grid-template-columns: 1fr 0px 1fr;
  grid-template-rows: 1fr 130px 1fr;
  place-items: center; }

.grid a {
  text-decoration: none;
  color: black; }

.habilidades {
  grid-area: habilidades;
  align-self: flex-end; }

.proyectos {
  grid-area: proyectos;
  justify-self: flex-end;
  margin-right: 4rem; }

.github {
  grid-area: github;
  justify-self: flex-start;
  margin-left: 4rem; }

.contacto {
  grid-area: contacto;
  align-self: flex-start; }

/* Fin Grid */
/* Cuadrados centro */
.habilidades,
.proyectos,
.github,
.contacto {
  width: 120px;
  height: 120px;
  border: black 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column; }

.habilidades:hover,
.proyectos:hover,
.github:hover,
.contacto:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }

.habilidades:active,
.proyectos:active,
.github:active,
.contacto:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* Cajas posiciones dentro */
.habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  animation-name: moversepoquito;
  animation-duration: 1s;
  animation-iteration-count: 3; }

.proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  animation-name: moversepoquito;
  animation-duration: 1s;
  animation-iteration-count: 3; }

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  animation-name: moversepoquito;
  animation-duration: 1s;
  animation-iteration-count: 3; }

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  animation-name: moversepoquito;
  animation-duration: 1s;
  animation-iteration-count: 3; }

/* caja Iconos dentro */
.grid a {
  padding-top: 0.5rem; }

.proyectos i {
  padding-top: 0.5rem;
  font-size: 1.7rem; }

.habilidades img {
  padding-top: 0.5rem;
  width: 2.2rem; }

.flechabajo i {
  font-size: 2rem;
  animation-name: grandechico;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

.github i {
  padding-top: 0.5rem;
  font-size: 2rem; }

.contacto i {
  padding-top: 0.5rem;
  font-size: 1.7rem; }

/* cuadradros centro fin */
/* Iconos de cuadrados */
/* Body */
.grid {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover; }

/* Animacion */
@keyframes grandechico {
  0% {
    color: black; }
  50% {
    color: #11c7df;
    transform: scale(1.3); }
  100% {
    color: black;
    transform: scale(1); } }

@keyframes moversepoquito {
  0% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(2deg); } }

/* Sobre Mi */
.sec-sobremi {
  height: 615px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem; }

.portrait img {
  width: 350px;
  border-radius: 50%;
  border: solid 1px black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.infosobremi {
  width: 650px;
  height: 320px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 2rem; }
  .infosobremi h1 {
    font-size: 2rem; }

.sec-sobremi h1 {
  text-align: left;
  margin-bottom: 1rem; }

.infosobremi p {
  margin-bottom: 1rem; }

.infosobremi hr {
  margin: 1rem; }

.centrarflecha {
  display: flex; }

/* Section habilidades */
.sec-habilidades {
  height: 615px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center; }

.contenedorhabilidaes_titulo,
.contenedoraprendiendo_titulo {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem; }

.contenedorhabilidaes {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.contenedorhabilidaes_contenido,
.contenedoraprendiendo_contenido {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  justify-content: center;
  align-items: center; }

.contenedoraprendiendo {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.contenedoraprendiendo_titulo,
.contenedorhabilidaes_titulo {
  text-align: center; }

.sec-habilidades img {
  height: 100px; }

.hsass img {
  height: 90px; }

.habilidad p {
  opacity: 0; }

.habilidad:hover {
  transform: scale(1.3); }
  .habilidad:hover #react_p {
    opacity: 1; }
  .habilidad:hover #backend_p {
    opacity: 1; }
  .habilidad:hover #js_p {
    opacity: 1; }

.hjs img {
  position: relative;
  left: 10px;
  height: 100px;
  margin-top: 1rem; }

/* Section Proyectos */
.sec_proyectos {
  height: 100vh; }

/* Section Contacto */
.sec_contacto {
  position: relative;
  left: -50px;
  padding-top: 10vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem; }

.formulario_container {
  padding: 3rem 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.377); }
  .formulario_container h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .formulario_container label {
    padding: 1rem 5rem 0.5rem 0.5rem; }
  .formulario_container input {
    border-radius: 3px;
    padding: 0.5rem;
    width: 250px;
    height: 30px;
    border: none; }
  .formulario_container input:focus,
  .formulario_container textarea:focus {
    outline: none;
    box-shadow: 0 0 3px black; }
  .formulario_container textarea {
    border: none;
    resize: none;
    margin-top: 0.3rem;
    border-radius: 3px;
    width: 100%; }
  .formulario_container input,
  .formulario_container textarea {
    border: 1px solid gray; }
  .formulario_container #asunto {
    margin: 0.5rem 0;
    width: 100%; }
  .formulario_container .buttonsend {
    display: flex;
    justify-content: center;
    align-items: center; }
  .formulario_container button {
    padding: 0.7rem 1rem;
    color: black;
    background-color: white;
    border: solid 1px gray;
    border-radius: 1rem;
    margin-top: 1rem; }
  .formulario_container button:hover {
    box-shadow: 0 0 5px black;
    background-color: #11c7df; }

.redes_contacto h3 {
  margin-bottom: 1rem; }

.redes_contacto .redes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left; }
  .redes_contacto .redes a {
    padding: 0.3rem;
    border-radius: 1rem; }

.redes_contacto .redes a {
  text-decoration: none;
  color: black;
  text-align: center; }

.redes_contacto .redes a:hover {
  background-color: #11c7df; }

.sec_proyectos {
  height: 500px; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 8rem;
  background-color: #fafafa;
  height: 500px; }
  .content img {
    height: 300px;
    border: solid gray 1px; }
  .content .proyectTags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; }
    .content .proyectTags .tag {
      /* background-color: rgb(220, 20, 60); */
      background-color: #11c7df;
      height: 25px; }

.nombreinfowrap,
.proyectinfo {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.proyectinfo h1 {
  font-size: 1.5rem; }

.proyectinfo .tag {
  color: white;
  padding: 0 0.5rem; }

.proyectinfo a {
  background-color: tomato;
  color: white;
  width: 100px;
  text-decoration: none;
  padding: 0 0 0 5px;
  border-radius: 5px; }

.proyectinfo a:hover {
  background-color: #11c7df; }

/* $bgcolor: #f0f0f5; */
