@import  '../general/variables';

.cta{
    height: 60vh;
    background-color: $azulmain;
    display: flex;
    justify-content: center;
    align-items: center;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
        font-size: 1.5rem;
        p{
            color: white;
            text-shadow: -5px 3px 3px rgba(0, 0, 0, 0.51);
        }
        .nombre{
            color: $highlightnombre;
        }
        a{
            color:white;
            border: solid white 2px;
            text-decoration: none;
            padding: 0.4rem 1rem;
            box-shadow: $azulmain -5px 5px 2px, rgb(51, 51, 51) -5px 5px 5px 2px ;
        }
        a:hover{
            transform: translateX(-5px) translateY(5px);
            box-shadow:none;
            i{
                animation: FlechaAbajo 1s alternate ease-out forwards ;
            }
        }
    }
}
.navbar-wrap{
    position: sticky;
    top: 0;
    display: flex;
    gap: 5rem;
    padding: 1rem 2rem;
    background-color: $navbarBG;
    color: white;
    z-index: 10;

    .links{
        display: flex;
        gap: 5rem;
        a{
            cursor: pointer;
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: $azulnombre;
        }
    }
    .engesp{
        display: flex;
        gap: 0.5rem;
        #nopointer{
            cursor: auto;
        }
                a{
            cursor: pointer;
            text-decoration: none;
        }
        a:hover{
            color: $azulnombre;
        }
    }

}
.active{
    color: $azulmain !important;
}
.active:hover{
    color: white;
}


@keyframes FlechaAbajo {
    0%{

    }
    100%{
        transform: rotate(90deg); 

    }
}