
/* Grid */
.grid {
    height: calc(100vh - 67px);
    width: 100%;
    display: grid;

    grid-template-areas: 
    "curriculum curriculum curriculum"
    "proyectos flechabajo github"
    "sociales sociales sociales";
    grid-template-columns: 1fr 0px 1fr;
    grid-template-rows: 1fr 130px 1fr;
    place-items: center;
}
.grid a{
    text-decoration: none;
    color:black;
}
.curriculum{
    grid-area: curriculum;
    align-self: flex-end;
}
.proyectos{
    grid-area: proyectos;
    justify-self: flex-end;
    margin-right: 4rem;
    
}
.github{
    grid-area: github;
    justify-self: flex-start;
    margin-left: 4rem;
    

}
.sociales{
    grid-area: sociales;
    align-self: flex-start;

}
/* Fin Grid */

/* Cuadrados centro */
.curriculum, .proyectos, .github, .sociales{
    width: 100px;
    height: 100px;
    border: black 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}
.curriculum:hover, .proyectos:hover, .github:hover, .sociales:hover{

transform: translateY(-3px);
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

}

.curriculum:active, .proyectos:active, .github:active, .sociales:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Cajas posiciones dentro */
.curriculum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
}
.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
}
.github {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
}
.sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
}

/* caja Iconos dentro */
.proyectos i{
    padding-top: 0.5rem;
    font-size: 1.7rem;
}
.curriculum i{
    padding-top: 0.5rem;
    font-size: 1.7rem;
}
.flechabajo i{
    font-size: 2rem;
}
.flechabajo i:hover{
    font-size: 3rem;
}
.github i{
    padding-top: 0.5rem;
    font-size: 1.7rem;
}
.sociales i{
    padding-top: 0.5rem;
    font-size: 1.7rem;
}
/* cuadradros centro fin */

/* Iconos de cuadrados */


/* Body */
.grid{
    background-image: url("../../../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

/* Section sobremi */

.sec-sobremi{
    height: 100vh;
}

/* end Section sobremi */


/* Sobre Mi */


