.gradiente{
    background: linear-gradient(0deg, rgba(145,108,252,0.72) 0%, rgba(108,226,252,1) 100%); 
}
.gradienteNav{
    background: linear-gradient(0deg, rgba(73,231,193,1) 0%, rgba(100,215,252,1) 100%);
}
html{
    font-family: 'Oswald', sans-serif;
}