.gradiente{
    background: linear-gradient(0deg, rgba(145,108,252,0.72) 0%, rgba(108,226,252,1) 100%); 
}
.gradienteNav{
    background: linear-gradient(0deg, rgba(73,231,193,1) 0%, rgba(100,215,252,1) 100%);
}
html{
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}
.tags{
    width: auto ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    p{
    background-color: hsla(267, 100%, 58%, 0.65);
    color: white;
    padding: 0 0.5rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 4px;
    cursor:default;
    user-select: none;
    }
}
