

/* aparecer views */
@keyframes aparecer {
    0%{
        transform: translate(150% , 0);
    } 

    80%{
        transform: translate(-20px);
    }
    100%{
        transform: translate(0, 0);
    }
}

.aparecer{
    animation:aparecer 1s forwards
}
/* desaparecer views */
@keyframes desaparecer {    
    50%{
        transform: translate(20% , 0);
    }      
    100%{
        transform: translate(-150% , 0);
    }    
}    
.desaparecer{
    animation: desaparecer 1s forwards;
}    

