.personCard{
    padding: 50px 0 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 50%;
    width: 50%;
    min-width: 450px;
}
.personCardWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translateY(10px);
    opacity: 0;
}
.personCard img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit:cover;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.personCard p{
    color: rgb(86 86 86 / 1);
}
.personCard h1{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.infoWrap{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 23px;
}
.infoWrap span{
    font-size: 30px;
}
.infoWrap_title_skeleton{
    display: flex;
    gap: 10px;
}
.currently_work_wrap, .location_wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
.location_wrap{
    gap: 10px;
}
.animUp{
    animation: animUp 1s forwards;
}
@keyframes animUp {
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 1390px) {
    .personCard{
        max-width: 370px;
        width: 370px;
        min-width: 370px;
        padding: 20px 0;
    }
    .personIMG{
        align-self: center;
    }
    .infoWrap h1{ 
        font-size: 18px;
    }
    .infoWrap p{ 
        font-size: 14px;
    }
  }