.page_wrap{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: red; */
    padding: 60px;
    gap: 40px;
}
.go_back_img{
    display: flex;
    width: fit-content;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

    border-radius: 50%;
    cursor: pointer;
}
.go_back_img a{
    display: flex;
    color: black;
    text-decoration: none;
}
.go_back_img:hover{
       
    transform: scale(0.9);
    transition: transform 0.2s ease;
}
.go_back_img:active{
    transform: scale(0.8);
    transition: transform 0.2s ease; /* Smooth shrinking effect */
}
.go_back_img svg { 
    margin: -1px 0 -1px -2px ;
}


.projects_wrap{
    /* width: 100%; */
    display: flex;
    gap: 10px;
    min-height: 600px;
}
.sidebar{
    min-width: 250px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.sidebar  ul{
    list-style: none;
}
.sidebar  a{
    color: rgba(0, 0, 0, 0.514);
    text-decoration: none;
    font-size: 12px;
}
.sidebar  a:hover{
    color: black;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.projects a{
    text-decoration: none;
    color: black;
}
.project {
    width: 500px ;
    height: 326px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.274);
}
.project:hover img{
    filter:brightness(1);
    transition: filter .5s;
}
.project:active{
    transform: scale(0.97);
    transition: transform .2s;
}
.project img{
    width: 700px ;
    height: 412px;
    position: relative;
    left: -70px;
    top: -60px;
}
.card_info{
    position: relative;
    top: -160px;
    padding-left: 20px;
}