
@media only screen and (max-width: 1111px) {
    .content {
    
        img {
            height: 200px;
        }

    }
}

@media only screen and (max-width: 890px) {
    .content {
    flex-direction: column;
        img {
            height: 200px;
        }
    }
    .sec-sobremi {

        gap: 5rem;
    }
   
}


@media only screen and (max-width: 730px) {
    .sec-sobremi {

        gap: 1rem;
        flex-direction: column;

    }
    .tag{
        display: none;
    }
    #sobremi{
        height: auto;
    }
 .sec-habilidades{
        height: auto;
        
    }
    .contenedorhabilidaes_contenido{
        flex-direction: column;
    }
}
@media only screen and (max-width: 480px) {
    .proyectinfo h1{
        font-size: 1rem;
    }
}
