.proyectos{
    height: $height;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    .tituloProyectos{
        font-size: 48px;
        text-align: center;
        padding: 2rem 0;
    }
    .proyectosWrapper{
        display: flex;
        gap: 2rem;
        padding: 0 2.5rem ;
        overflow-x:scroll;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        .proyecto{
            margin: 0 20px;
            height: 430px;
            border-radius:  26px 26px 26px 26px;
            background-color: #D9D9D9;
            max-width: 282px;
            
        }
    }
    .proyectosWrapper::-webkit-scrollbar {
        width: 0 !important;
        }
    .proyectoImg {
            height: 167px;
            width: 282px;
            border-radius:  26px 26px 0 0;
            overflow: hidden;
        img{
            width: 282px;
            border-radius:  26px 26px 0 0;
            transition: 6s;
        }
        img:hover{
            transform: translateY(-80%);
        }
    }
    .proyectoInfoWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        height: 260px ;
        padding:   1rem 0;
    }
    .nombreProyecto{
        font-size: 20px;
        text-align: center;
        padding-top: 1rem;
    }
    .hrProyecto{
        width: 122px;
        margin:-0.5rem auto;

    }

    .textoProyecto{
        text-align: left;
        padding: 0 1.5rem;
        flex-grow: 1;
        line-height: 20px;
        font-size: 16px;
        

    }
    .links{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        a{
            background-color: hsla(267, 100%, 58%, 0.65);
            color: black;
            border-radius: 4px;
            padding: 0.2rem 1rem;
            text-decoration: none;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:hover{
                background-color:hsla(267, 100%, 58%, 0.308) ;
            }
        }
    }

}

@media only screen and (min-width: 768px){
    .proyectos{

        .tituloProyectos{
            padding: 0;
        }
        .proyectosWrapper{
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1400px;
            margin: 0 auto;
            .proyecto{
                margin: 0;
            }
        }
    }
}